div.t1
{
    max-height: 80vh;
    overflow-y: auto;
}
.edit
{
    color: rgb(42, 235, 235);
}
.search
{
    position: absolute;
    right: 50px;
    top: 25px;
}
.searchbar 
{
  outline-color: rgb(224, 186, 115);
}
